[user]
[credential]
	helper = osxkeychain
[http]
	sslVerify = false
[core]
    excludesfile = /Users/longtai/.dotfiles/git/.gitignore_global
    editor = nvim +16 -c 'startinsert'
[commit]
	template = /Users/longtai/.dotfiles/git/commit-conventions.txt
	
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

